@define-color bg0 rgba(25,23,36,0.8);
@define-color bg1 #1f1d2e;
@define-color bg2 #26233a;
@define-color bg3 #20273f;
@define-color bg4 #332e4e;
@define-color red #eb6f92;
@define-color orange #f6c177;
@define-color yellow #fab387;
@define-color green #a6e3a1;
@define-color aqua #31748f;
@define-color blue #89b4fa;
@define-color purple #c4a7e7;
@define-color fg #e0def4;
@define-color greye #6e6a86;
@define-color grey1 #988caa;
@define-color grey2 #e0def4;
@define-color color1 #D8C4BC;
@define-color color2 #FEFFFF;
@define-color color3 #F7EDE8;

